/* || IMPORT GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
/* END IMPORT GOOGLE FONTS */

/* || RESET */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
/* END RESET */

/* || VARIABLES */
:root {
  /* colors */
  --primary-color: #2196f3;
  --primary-light-color: #bbdefb;
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider-color: #bdbdbd;
  --light-color: #fafafa;
  /* end colors */

  /* border radius */
  --border-radius: 0.2rem;
  /* end border radius */

  /* padding */
  --padding: 1.2rem;
  /* end padding */

  /* gap */
  --gap: 1.2rem;
  /* end gap */

  /* box shadow */
  --box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
  /* end box shadow */
}
/* END VARIABLES */

/* || MAIN STYLES */
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background-color: var(--light-color);
}

h1,
h2 {
  font-size: 1.75rem;
  color: #fff;
}

h3 {
  font-size: 1.25rem;
  color: var(--primary-text);
  margin-bottom: 0.5rem;
}

p {
  color: var(--secondary-text);
}

a {
  color: var(--primary-color);
}

a:hover {
  text-decoration: underline;
}

hr {
  height: 1px;
  margin: 1rem 0;
  background-color: var(--divider-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
  border-radius: var(--border-radius);
}

figcaption {
  margin-bottom: 0.5rem;
}
/* END MAIN STYLES */

/* || UTILITIES */
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 1.2rem;
}

.flex-row {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.title {
  padding: var(--padding);
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
}

.about-card,
.innovation-card,
footer {
  padding: var(--padding);
  border-radius: var(--border-radius);
  background-color: #fff;
  box-shadow: var(--box-shadow);
}

.innovation-card {
  border-left: 6px solid var(--primary-light-color);
}
/* END UTILITIES */

/* || HTML ELEMENTS */
aside,
section {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

/* Media Queries */
@media (min-width: 864px) {
  .flex-row {
    flex-direction: row;
  }

  aside {
    flex: 1;
  }

  section {
    flex: 2;
  }
}
/* End Media Queries */

footer p:first-child {
  color: var(--primary-text);
}
/* END HTML ELEMENTS */
